# Django настройки
DEBUG=False
SECRET_KEY=your-secret-key-here
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=http://127.0.0.1,http://localhost

# Redis
REDIS_URL=redis://redis:6379/1

# База данных PostgreSQL
POSTGRES_DB=storage
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_secure_password
DATABASE_URL=postgres://postgres:your_secure_password@postgres:5432/storage

# MinIO S3
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=your_minio_secret_key
AWS_STORAGE_BUCKET_NAME=user-files
AWS_S3_ENDPOINT_URL=http://minio:9000